{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}
    <style>
      #hint_id_username {
        display: none;
      }
    </style>
    <div class="large-area" style="max-width: 700px">
      <div class="decorative-text-wrapper noselect">Customize Profile</div>
      <div class="cardbody">
        <!-- FORM HERE -->
        <form action="/customize-profile/" method="POST" id="customizeProfileForm" enctype="multipart/form-data">
            <!--Without the encoding the image will not be saved-->
            {% csrf_token %}    <!-- Added Security token that Django requires-->
            <!-- Make is it looks like as one form-->
            <div class="form-row">
              <div class="form-group col-md-6 mb-0">
                {{ u_form.username|as_crispy_field }}
              </div>
              <div class="form-group col-md-6 mb-0">
                {{ u_form.email|as_crispy_field }}
              </div>
            </div>
            {{ p_form|crispy }}
        </form>
        <form onsubmit="return false" style="margin-top: 15px;">
            Skills<br>
            <input id="tag-input" class="form-control" maxlength="30" style="max-width: 200px; margin-top: 0" >
        </form>

        <div  style="margin-top: 10px;">
          <span id="tags">
            {% for skill in user_skills %}
              <span class='tag' id='tagtag' style='line-height: 50px; white-space: nowrap'>{{ skill }}</span>
            {% endfor %}
          </span>
        </div>

        <!-- HIDDEN MODAL TO CROP THE IMAGE (taken from here https://simpleisbetterthancomplex.com/tutorial/2017/03/02/how-to-crop-images-in-a-django-application.html) -->
       <div class="bootstrap">                      <!-- Uses Isolated Bootstrap 3-->
        <div class="modal fade" role="dialog" id="modalCrop">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Crop the photo</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <img src="" id="image" style="max-width: 100%;">
              </div>
              <div class="modal-footer">
                <div class="btn-group pull-left" role="group">
                  <button type="button" class="btn btn-default js-zoom-in">
                    <span class="fa fa-search-plus"></span>
                  </button>
                  <button type="button" class="btn btn-default js-zoom-out">
                    <span class="fa fa-search-minus"></span>
                  </button>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Go back</button>
                <button type="button" class="btn btn-primary js-crop-and-upload">Crop</button>
              </div>
            </div>
          </div>
        </div>
       </div>

       <button class="button-corner btn btn-outline-info" id="submit_button">Update</button>

        <div id="tags"></div>
            <script>
              $(document).ready(function () {
                    let maxTags = 10;
                    let tags = {{ user_skills|safe }};
                    let numOfTags = {{ user_skills|length }};

                    {% include "main/tags.js" %}

                    /* SCRIPT TO POST TO THE SERVER */
                    $('#submit_button').click(function() {
                        $("#customizeProfileForm").attr('action',"/customize-profile/?tags="+tags);
                        $("#customizeProfileForm").submit();
                    });
                });


                $(function () {
                  /* SCRIPT TO OPEN THE IMAGE CROPPER MODAL WITH THE PREVIEW */
                  $("#id_image").change(function () {
                    if (this.files && this.files[0]) {
                      var reader = new FileReader();
                      reader.onload = function (e) {
                        $("#image").attr("src", e.target.result);
                        $("#modalCrop").modal("show");
                      }
                      reader.readAsDataURL(this.files[0]);
                    }
                  });

                  /* SCRIPTS TO HANDLE THE CROPPER BOX */
                  var $image = $("#image");
                  var cropBoxData;
                  var canvasData;
                  $("#modalCrop").on("shown.bs.modal", function () {
                    $image.cropper({
                      viewMode: 1,
                      aspectRatio: 1/1,
                      minCropBoxWidth: 100,
                      minCropBoxHeight: 100,
                      ready: function () {
                        $image.cropper("setCanvasData", canvasData);
                        $image.cropper("setCropBoxData", cropBoxData);
                      }
                    });
                  }).on("hidden.bs.modal", function () {
                    cropBoxData = $image.cropper("getCropBoxData");
                    canvasData = $image.cropper("getCanvasData");
                    $image.cropper("destroy");
                  });

                  $(".js-zoom-in").click(function () {
                    $image.cropper("zoom", 0.1);
                  });

                  $(".js-zoom-out").click(function () {
                    $image.cropper("zoom", -0.1);
                  });

                  /* SCRIPT TO COLLECT THE IMAGE DATA AND CLOSE THE MODAL */
                  $(".js-crop-and-upload").click(function () {
                    var cropData = $image.cropper("getData");
                    $("#id_x").val(cropData["x"]);
                    $("#id_y").val(cropData["y"]);
                    $("#id_height").val(cropData["height"]);
                    $("#id_width").val(cropData["width"]);
                    $('#modalCrop').modal('hide');
                  });
                });

            </script>
        </div>
    </div>
{% endblock %}
