{% extends 'main/base.html' %}
{% load static %}
{% block content%}
<div>
  <div style="padding: 40px; background: #f4f9fa; margin-top: -30px">
  <h1 class="large-header" style="color: #AB5468">Get a Premium Account</h1>
  <p class="center-p" style="color: #333">Premium accounts offer a range of perks and benefits for both feedbackees and feedbackers to help you make the most out of using AskAnything.</p>
  </div>
  <div class="full-screen-image" style=" background-image: url({% static 'img/home-bg.jpg' %}); background-color: rgba(255,255,255,0.5); padding: 20px; padding-bottom: 80px;">
    <div class="container">
        <div class="row justify-content-md-center" >
            <div class="col-sm premium-card" style="text-align: center; max-width: 400px; right: 0;">
                <img src="{% static 'img/test-icon.png' %}" style="height: 200px; text-align: center"/>
                <h3 style="margin-top: 10px; font-weight: 600">Feedbackee Perks</h3>
                <div class="border-top pt-4"></div>
                <div style="margin-bottom: 18px; text-align: left">
                  <img style="vertical-align:middle; width:28px; height: 28px; margin-top: -5px" src="{% static 'img/tick4.png' %}">
                  <span>Prominent position of feedback requests</span>
                </div>
                <div style="margin-bottom: 18px; text-align: left">
                  <img style="vertical-align:middle; width:28px; height: 28px; margin-top: -5px" src="{% static 'img/tick4.png' %}">
                  <span>Unlimited file size</span>
                </div>
                <div style="margin-bottom: 18px; text-align: left">
                  <img style="vertical-align:middle; width:28px; height: 28px; margin-top: -5px" src="{% static 'img/tick4.png' %}">
                  <span>Premium badge on feedback requests</span>
                </div>
            </div>
            <div class="col-sm premium-card" style="text-align: center; max-width: 400px">
                <img src="{% static 'img/test-icon.png' %}" style="height: 200px"/>
                <h3 style="margin-top: 10px; font-weight: 600">Feedbacker Perks</h3>
                <div class="border-top pt-4"></div>
                <div style="margin-bottom: 18px; text-align: left; ">
                  <img style="vertical-align:middle; width:28px; height: 28px; margin-top: -5px" src="{% static 'img/tick4.png' %}">
                  <span>Apply to new feedback requests 24 hours before everybody else</span>
                </div>
                <div style="margin-bottom: 18px; text-align: left">
                  <img style="vertical-align:middle; width:28px; height: 28px; margin-top: -5px" src="{% static 'img/tick4.png' %}">
                  <span>Unlimited number of applications at a time</span>
                </div>
                <div style="margin-bottom: 18px; text-align: left">
                  <img style="vertical-align:middle; width:28px; height: 28px; margin-top: -5px" src="{% static 'img/tick4.png' %}">
                  <span>Premium badge on profile</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background: #222233; padding: 40px; border-top: 1px #ccc solid;">
  <h1 class="large-header" style="color: #AB5468">Get One Month Free</h1>
  <p class="center-p" style="color: white">The first month is on us! Then just £9.99 a month.</p>
  <a  href="{% url 'try-premium-page' %}"  style="text-decoration:none">
      <button class="btn btn-outline-danger" style="margin: 0 auto; display: block; border-width: 2px; font-size: 1.5em; margin-top: 20px; padding-left: 20px; padding-right: 20px">Try Premium</button>
  </a>
</div>
</div>

{% endblock%}
