{% extends 'base.html' %}
{% load static %}

{% block content%}
<div class="large-area" style="max-width: 600px">
  <div class="decorative-text-wrapper noselect">Log In</div>
  <div class="cardbody">
        <form action="/login/" method="POST" id="loginForm">
            {% csrf_token %}
            <input class="onelineform"type="text" placeholder="User Name" name="username">
            {% if form.username.errors %}
                 {% for error in form.username.errors  %}
                 <span style="color: #FF6571">{{error}}</span>
                  {% endfor %}
            {% endif %}
            <br>
            <input class="onelineform" type="password" placeholder="Password" name="password">
            {% if form.password.errors %}
                 {% for error in form.password.errors %}
                 <span style="color: #FF6571">{{error}}</span>
                  {% endfor %}
            {% endif %}
        </form>
        <div class="button-corner">
          <span class="button noselect"><a href="/register">SIGN UP</a></span>
          <span class="button noselect" id="login_button">LOGIN</span>
        </div>
        <script>
          $('#login_button').click(function() {
              $("#loginForm").submit();
          });
        </script>
    </div>
  </div>

{% endblock %}
