{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags%}

{% block content%}
<div class="large-area" style="max-width: 600px">
  <div class="decorative-text-wrapper noselect">Log In</div>
    <div class="cardbody">
        <form action="/login/" method="POST" id="loginForm">
            {% csrf_token %}
            {{ form|crispy }}  <!-- Crispy Forms do the design for us -->
        </form>
        <div class="button-corner">
          <span class="button noselect" id="register_button"><a href="/register" style="text-decoration: none">SIGN UP</a></span>
          <span class="button noselect" id="login_button">LOGIN</span>
        </div>
        <script>
          $('#login_button').click(function() {
              $("#loginForm").submit();
          });
        </script>
    </div>
  </div>

{% endblock %}
