{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="large-area" style="max-width: 600px">
        <div class="decorative-text-wrapper noselect">Reset Password</div>
        <div class="cardbody" style="margin-bottom:-20px;">
            {% if validlink %}
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group"  style="margin-top:20px;">
                        <button class="btn btn-outline-info" type="submit">Reset Password</button>
                    </div>
                </form>
            {% else %}
                <!--Possibly because the link has already been used.-->
                <p>The password reset link is invalid. Please request a new password reset.</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}