{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags%}

{% block content%}
<div class="full-screen full-screen-image" style="margin-top: -100px; background-image: url({% static 'img/landing-page.jpg' %}); position: fixed">
</div>

<div class="large-area" style="max-width: 600px">
  <div class="decorative-text-wrapper noselect">Create Account</div>
    <div class="cardbody" style="margin-bottom:0px;">
        <form action="/register/" method="POST" id="registrationForm" novalidate>
          {% csrf_token %}
          {{ form|crispy }}  <!-- Crispy Forms do the design for us -->
          <div class="form-group" style="margin-top:20px;">
              <button class="btn btn-outline-info" type="submit" id="register_button">Sign Up</button>
          </div>
        </form>
          <!--<div class="button-corner">-->
            <!--<span class="button noselect" id="register_button" style="margin-top: 20px">SIGN UP</span>-->
            <!--<span class="button noselect" style="margin-top: 20px" id="login_button"><a href="/login" style="text-decoration: none">LOG IN</a></span>-->
          <!--</div>-->

        <!-- If users already have an account -->
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login-page'%}" style="color: #1F4D8A; font-weight: 900;">Sign In</a>
            </small>
        </div>
          <!--<script>-->
              <!--$('#register_button').click(function() {-->
                  <!--$("#registrationForm").submit();-->
              <!--});-->
          <!--</script>-->
    </div>
  </div>

{% endblock %}
