{% extends 'base.html' %}
{% load static %}

{% block content%}
  <div  class='center_content'>
      <div class="card">
          {% if wronglogin %}
            <div class="incorrect">Oops! Incorrect username or password.</div>
          {% endif %}
          <img src="{% static 'users/user.png' %}" style='width: 30%; margin-bottom: 10px'/>
          <h4 style="margin-bottom: 10px">Create Account</h4>
          <form action="/register/" method="POST" id="loginForm">
              {% csrf_token %}
              <input class="loginform" type="text" placeholder="User Name" name="username"><br>
              <input class="loginform" type="text" placeholder="Email" name="email" ><br>
              <input class="loginform" type="password" placeholder="Password" name="password1"><br>
              <input class="loginform" type="password" placeholder="Repeat Password" name="password2" style="margin-bottom: 40px"><br>
              <span class="button noselect" id="login_button">SIGN UP</span>
          </form>
          <script>
              $('#login_button').click(function() {
                  $("#loginForm").submit();
              });
          </script>
      </div>
  </div>
{% endblock %}
