{% extends 'main/base.html' %}
{% load static %}
{% load multifor %}

{% block content%}

<style>
    .photo-border {
      border-radius: 100%;
    {% if viewed_has_premium %}
      border: 8px solid #e9ca6e;
    {% else %}
      border: 8px solid #eee;
    {% endif %}
    }
</style>

<div class="feedback-request">
    <div class="decorative-text-wrapper noselect">Profile</div>
    <div style="margin-top:50px">
      <img class="photo-circle photo-border" style="display: table; margin: 0 auto; width: 150px; height: 150px; border-radius: 100%;" src="{{ user_to_view.userprofile.image.url }}"/>
      <h3 style="text-align: center; margin: 20px; font-size: 26px"><strong>{{ user_to_view.username }}</strong></h3>
      {% if viewed_has_premium %}
        <div class="premium-badge noselect" style="margin-top: -17px; margin-bottom: 10px">Premium</div>
      {% endif %}

      {% if ratings_num %}
        <div style="display: flex; align-items: center; justify-content: center">
            <div class="rating" id="compRating" data-rate-value={{overall_average}} style="display: inline-block; font-size: 35px; margin-left: 0; margin-right: 5px"></div>
            <h4><strong>({{ratings_num}} ratings)</strong></h4>
        </div

        <div class="border-top pt-1"></div>
        <div style="display: flex; margin: 15px; justify: space-between">
          <div style="text-align: center; font-weight: 600; width: 100%; font-size: 1.1em">
            Quality <br>
            <span style="color: #ab5468">{{ quality_average }} ★</span>
          </div>
          <div style="text-align: center; font-weight: 600; width: 100%; font-size: 1.1em">
            Speed <br>
            <span style="color: #ab5468">{{ speed_average }} ★</span>
          </div>
          <div style="text-align: center; font-weight: 600; width: 100%; font-size: 1.1em">
            Communication <br>
            <span style="color: #ab5468">{{ comm_average }} ★</span>
          </div>
        </div>
      {% endif %}
      <div class="border-top pt-1"></div>
      <div style="display: flex; margin: 15px; justify: space-between">
        <div style="text-align: center; font-weight: 600; width: 100%">
        <img class="photo-circle" style="display: table; margin: 0 auto; width: 40px; height: 40px; border-radius: 100%; margin-bottom: 5px" src="{% static 'img/location.png' %}"/>
          Location <br>
          {{ user_to_view.userprofile.city }}
        </div>
        <div style="text-align: center; font-weight: 600; width: 100%">
        <img class="photo-circle" style="display: table; margin: 0 auto; width: 40px; height: 40px; border: 3px solid #ccc; margin-bottom: 5px; " src="{% static 'img/default.jpg' %}"/>
          Member Since <br>
          {{ user_to_view.date_joined|date:"d M Y" }}
        </div>
        <div style="text-align: center; font-weight: 600; width: 100%">
          <img class="photo-circle" style="display: table; margin: 0 auto; width: 40px; height: 40px;border-radius: 0; margin-bottom: 5px" src="{% static 'img/stats.png' %}"/>
          Jobs Finished <br>
          {{jobs_finished}}
        </div>
      </div>
  </div>
</div>

{% if user_to_view.userprofile.description or user_to_view.userprofile.linkedin or user_to_view.userprofile.url_link_1 or user_to_view.userprofile.url_link_2 %}
  <div class="feedback-request">
       <div class="decorative-text-wrapper noselect">Bio</div>
       <div style="margin-top:50px; vertical-align: middle;">
         {% if user_to_view.userprofile.description %}
          <p style="white-space: pre-wrap; margin-top: 15px">{{ user_to_view.userprofile.description }}</p>
          {% if user_to_view.userprofile.linkedin or user_to_view.userprofile.url_link_1 or user_to_view.userprofile.url_link_2 %}
            <div class="border-top pt-1 mt-3"></div>
          {% endif %}
         {% endif %}
         {% if user_to_view.userprofile.linkedin or user_to_view.userprofile.url_link_1 or user_to_view.userprofile.url_link_2 %}

         <div style="display: flex; margin: 15px; justify: space-between">
         {% if user_to_view.userprofile.linkedin %}
         <div style="text-align: center; font-weight: 600; width: 100%">
           <img class="photo-circle" style="display: table; margin: 0 auto; width: 40px; height: 40px; border-radius: 100%;  margin-bottom: 10px" src="{% static 'img/linkedin.png' %}"/>
           <a href="{{ user_to_view.userprofile.linkedin }}">LinkedIn Profile</a>
         </div>
         {% endif %}
         {% if user_to_view.userprofile.url_link_1 %}
         <div style="text-align: center; font-weight: 600; width: 100%">
           <img class="photo-circle" style="display: table; margin: 0 auto; width: 40px; height: 40px; border-radius: 100%;  margin-bottom: 10px" src="{{ user_to_view.userprofile.image.url }}"/>
           <a href="{{ user_to_view.userprofile.url_link_1 }}">Personal Website</a>
         </div>
         {% endif %}
         {% if user_to_view.userprofile.url_link_2 %}
         <div style="text-align: center; font-weight: 600; width: 100%">
           <img class="photo-circle" style="display: table; margin: 0 auto; width: 40px; height: 40px; border-radius: 100%;  margin-bottom: 10px" src="{{ user_to_view.userprofile.image.url }}"/>
           <a href="{{ user_to_view.userprofile.url_link_2 }}">Personal Website</a>
         </div>
         {% endif %}
       </div>
       {% endif %}
        </div>
  </div>
{% endif %}

{% if user_skills %}
<div class="feedback-request">
     <div class="decorative-text-wrapper noselect">Skills</div>
     <div style="margin-top:50px; vertical-align: middle;">
       <div style="display: inline-block;">
              {% for skill in user_skills %}
                  <span class="tag inline-tag no-click-tag noselect" style="font-size: 1.2em; font-weight: 600;">{{ skill }}</span>
              {% endfor %}

            </div>
      </div>
</div>
{% endif %}
<div class="feedback-request">
     <div class="decorative-text-wrapper noselect">Ratings</div>
     <div style="margin-top:50px; vertical-align: middle;">
       {% if user_ratings %}
         {% for user_rating in user_ratings; curr_delta in time_deltas %}
         {% if user_rating.review != "" %}
       <div class="small-card" style="line-height: normal; padding: 25px">

         <div style="margin-bottom: 10px">
           <img class="photo-circle" src="{{ user_rating.feedbackee.userprofile.image.url }}"/>
           <span style="margin-left: 10px; font-weight: 600">{{user_rating.feedbackee}}</span>
           <span class="bold-p" style="float: right; font-size: 0.8em;vertical-align: middle; line-height: 45px">Posted {{ curr_delta }} ago </span>
         </div>


         <div class="border-top pt-1"></div>
         <h4 style="margin: 0 auto; text-align: center; margin-top: 15px"><strong>Overall</strong> </h4>
         <div class="rating" id="overallRating" data-rate-value={{user_rating.overall}} style="font-size: 30px;"></div>
         <div class="border-top pt-1 mt-2 small-screen-only"></div>

         <div class="two-columns" style="padding: 15px">
             <div class="custom-column">
               <h4 style="margin: 0 auto; text-align: center"><strong>Quality</strong> </h4>
               <div class="rating" id="compRating" data-rate-value={{user_rating.quality}} style="font-size: 25px;"></div>
             </div>
             <div class="custom-column">
               <h4 style="margin: 0 auto; text-align: center"><strong>Speed</strong></h4>
               <div class="rating" id="speedRating" data-rate-value={{user_rating.speed}} style="font-size: 25px;"></div>
             </div>
             <div class="custom-column">
               <h4 style="margin: 0 auto; text-align: center"><strong>Communication</strong> </h4>
               <div class="rating" id="commRating" data-rate-value={{user_rating.communication}} style="font-size: 25px;"></div>
             </div>
         </div>

         <div class="border-top pt-1"></div>

         <p>{{ user_rating.review }}</p>
        </div>
        {% endif %}
        {% endfor %}
     {% else %}
     <p style="text-align: center; font-size: 1.2em; font-weight: 600; ">No Ratings Yet</p>
     {% endif %}
      </div>
</div>
<script>
  var options = {
    max_value: 5,
    step_size: 1,
    readonly: true,
  }
  $(".rating").rate(options);
</script>
{% endblock %}
