{% extends 'main/base.html' %}
{% load static %}
{% load multifor %}

{% block content%}

<style>
    .photo-border {
      border-radius: 100%;
    {% if viewed_has_premium %}
      border: 8px solid #e9ca6e;
    {% else %}
      border: 8px solid #eee;
    {% endif %}
    }
</style>

<div class="feedback-request">
    <div class="decorative-text-wrapper noselect">Profile</div>
    <div style="margin-top:50px">
      <img class="photo-circle photo-border" style="display: table; margin: 0 auto; width: 150px; height: 150px; border-radius: 100%;" src="{{ user_to_view.userprofile.image.url }}"/>
      <h3 style="text-align: center; margin: 20px; font-size: 26px"><strong>{{ user_to_view.username }}</strong></h3>
      {% if viewed_has_premium %}
        <div class="premium-badge noselect" style="margin-top: -17px; margin-bottom: 20px">Premium</div>
      {% endif %}
      <div class="border-top pt-1"></div>
      <div style="display: flex; margin: 15px; justify: space-between">
        <div style="text-align: center; font-weight: 600; width: 100%">
        <img class="photo-circle" style="display: table; margin: 0 auto; width: 40px; height: 40px; border-radius: 100%; margin-bottom: 5px" src="{% static 'img/location.png' %}"/>
          Location <br>
          {{ user_to_view.userprofile.city }}
        </div>
        <div style="text-align: center; font-weight: 600; width: 100%">
        <img class="photo-circle" style="display: table; margin: 0 auto; width: 40px; height: 40px; border: 3px solid #ccc; margin-bottom: 5px; " src="{% static 'img/default.jpg' %}"/>
          Member Since <br>
          {{ user_to_view.date_joined|date:"d M Y" }}
        </div>
        <div style="text-align: center; font-weight: 600; width: 100%">
          <img class="photo-circle" style="display: table; margin: 0 auto; width: 40px; height: 40px;border-radius: 0; margin-bottom: 5px" src="{% static 'img/stats.png' %}"/>
          Jobs Finished <br>
          {{jobs_finished}}
        </div>
      </div>
      <div class="border-top pt-1"></div>

          {% if user_to_view.userprofile.description %}
            <p style="white-space: pre-wrap;">{{ user_to_view.userprofile.description }}</p>
          {% else %}
            <p>No profile description.</p>
          {% endif %}

      <div class="border-top pt-1 mt-3"></div>
      <div style="display: flex; margin: 15px; justify: space-between">
      {% if user_to_view.userprofile.linkedin %}
      <div style="text-align: center; font-weight: 600; width: 100%">
        <img class="photo-circle" style="display: table; margin: 0 auto; width: 40px; height: 40px; border-radius: 100%;  margin-bottom: 10px" src="{% static 'img/linkedin.png' %}"/>
        <a href="{{ user_to_view.userprofile.linkedin }}">LinkedIn Profile</a>
      </div>
      {% endif %}
      {% if user_to_view.userprofile.url_link_1 %}
      <div style="text-align: center; font-weight: 600; width: 100%">
        <img class="photo-circle" style="display: table; margin: 0 auto; width: 40px; height: 40px; border-radius: 100%;  margin-bottom: 10px" src="{{ user_to_view.userprofile.image.url }}"/>
        <a href="{{ user_to_view.userprofile.url_link_1 }}">Personal Website</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="feedback-request">
     <div class="decorative-text-wrapper noselect">Skills & Education</div>
     <div style="margin-top:50px; vertical-align: middle;">
       <div style="display: inline-block;">
              {% for skill in user_skills %}
                  <span class="tag inline-tag no-click-tag noselect" style="font-size: 1.2em; font-weight: 600;">{{ skill }}</span>
              {% endfor %}

            </div>
      </div>
</div>
<div class="feedback-request">
     <div class="decorative-text-wrapper noselect">Ratings</div>
     <div style="margin-top:50px; vertical-align: middle;">
       {% if user_ratings %}
         {% for user_rating in user_ratings %}

       <div class="small-card" style="line-height: normal; padding: 25px">
         <div style="margin-bottom: 10px">
         <img class="photo-circle" src="{{ user_rating.feedbackee.userprofile.image.url }}"/>
         <span style="margin-left: 10px; font-weight: 600">Rating by {{user_rating.feedbackee}}</span>
         </div>
         <div class="border-top pt-1"></div>
         <div style="display: flex; align-items: center;">
           <h4 style="margin-bottom: 0; margin-right: 10px "><strong>Quality</strong> </h4>
           <div class="rating" id="compRating" data-rate-value={{user_rating.quality}} style="font-size: 30px;"></div>
         </div>
         <div style="display: flex; align-items: center;">
           <h4 style="margin-bottom: 0; margin-right: 10px"><strong>Speed</strong></h4>
           <div class="rating" id="speedRating" data-rate-value={{user_rating.speed}} style="font-size: 30px;"></div>
         </div>

         <div style="display: flex; align-items: center;">
           <h4 style="margin-bottom: 0; margin-right: 10px"><strong>Communication</strong> </h4>
           <div class="rating" id="commRating" data-rate-value={{user_rating.communication}} style="font-size: 30px;"></div>
         </div>
         <div class="border-top pt-1"></div>

         <p>{{ user_rating.review }}</p>
        </div>

        {% endfor %}
     {% else %}
     <p style="text-align: center; font-size: 1.2em; font-weight: 600; ">No Ratings Yet</p>
     {% endif %}
      </div>
</div>
<script>
  var options = {
    max_value: 5,
    step_size: 1,
    readonly: true,
  }
  $(".rating").rate(options);
</script>
{% endblock %}
