{% extends 'main/base.html' %}
{% load static %}
{% load multifor %}

{% block content%}

<style>
    .photo-border {
      border-radius: 100%;
    {% if viewed_has_premium %}
      border: 8px solid #e9ca6e;
    {% else %}
      border: 8px solid #eee;
    {% endif %}
    }
</style>

<div class="feedback-request">
    <div class="decorative-text-wrapper noselect">Profile</div>
    <div style="margin-top:50px">
      <img class="photo-circle photo-border" style="display: table; margin: 0 auto; width: 150px; height: 150px; border-radius: 100%;" src="{{ user_to_view.userprofile.image.url }}"/>
      <h3 style="text-align: center; margin: 20px; font-size: 26px"><strong>{{ user_to_view.username }}</strong></h3>
      {% if viewed_has_premium %}
        <div class="premium-badge noselect" style="margin-top: -17px; margin-bottom: 20px">Premium</div>
      {% endif %}
      <div class="border-top pt-1"></div>
          {% if user_to_view.userprofile.description %}
            <p>{{ user_to_view.userprofile.description }}</p>
          {% else %}
            <p>No profile description.</p>
          {% endif %}
          <p>Member Since: {{ user_to_view.date_joined|date:"d M Y" }}</p>
          {% if user_to_view.userprofile.linkedin %}
            <p style="display:inline">LinkedIn Profile:</p>
            <a href="{{ user_to_view.userprofile.linkedin }}" id="linked-in">{{ user_to_view.userprofile.linkedin }}</a>
          {% endif %}
          {% if user_to_view.userprofile.url_link_1 or user_to_view.userprofile.url_link_2 or user_to_view.userprofile.url_link_3 %}
            <p>Personal Website Links:</p>
            <ul style="margin-left:16px">
              <li><a href="{{ user_to_view.userprofile.url_link_1 }}">{{ user_to_view.userprofile.url_link_1 }}</a></li>
              <li><a href="{{ user_to_view.userprofile.url_link_2 }}">{{ user_to_view.userprofile.url_link_2 }}</a></li>
            </ul>
          {% endif %}
    </div>
</div>
<div class="feedback-request">
     <div class="decorative-text-wrapper noselect">Ratings</div>
     <div style="margin-top:50px; vertical-align: middle;">
       {% if user_ratings %}
         {% for user_rating in user_ratings %}

       <div class="small-card" style="line-height: normal; padding: 25px">
         <div style="margin-bottom: 10px">
         <img class="photo-circle" src="{{ user_rating.feedbackee.userprofile.image.url }}"/>
         <span style="margin-left: 10px; font-weight: 600">Rating by {{user_rating.feedbackee}}</span>
         </div>
         <div class="border-top pt-1"></div>
         <div style="display: flex; align-items: center;">
           <h4 style="margin-bottom: 0; margin-right: 10px "><strong>Quality</strong> </h4>
           <div class="rating" id="compRating" data-rate-value={{user_rating.quality}} style="font-size: 30px;"></div>
         </div>
         <div style="display: flex; align-items: center;">
           <h4 style="margin-bottom: 0; margin-right: 10px"><strong>Speed</strong></h4>
           <div class="rating" id="speedRating" data-rate-value={{user_rating.speed}} style="font-size: 30px;"></div>
         </div>

         <div style="display: flex; align-items: center;">
           <h4 style="margin-bottom: 0; margin-right: 10px"><strong>Communication</strong> </h4>
           <div class="rating" id="commRating" data-rate-value={{user_rating.communication}} style="font-size: 30px;"></div>
         </div>
         <div class="border-top pt-1"></div>

         <p>{{ user_rating.review }}</p>
        </div>

        {% endfor %}
     {% else %}
     <p style="text-align: center; font-size: 1.2em; font-weight: 600; ">No Ratings Yet</p>
     {% endif %}
      </div>
</div>
<script>
  var options = {
    max_value: 5,
    step_size: 1,
    readonly: true,
  }
  $(".rating").rate(options);
</script>
{% endblock %}
