{% load static %}
<!DOCTYPE html>
<html lang="en-GB">
<head>
    <!-- Title -->
    {% if title %}
        <title>AskAnything {{ title }}</title>
    {%else%}
        <title>AskAnything</title>
    {%endif%}

    <!-- Favicon-->
    <link rel="icon" type="image/png" href="{% static 'img/logo.png'%}" sizes="152x152"/>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Cropper CSS-->
    <link href="{% static 'cropper.min.css' %}" rel="stylesheet">

    <!-- Custom CSS (https://stackoverflow.com/questions/26133742/css-bootstrap-overrides-my-own-css/26133772) -->
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Raleway website font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- JavaScript ZIP File-->
    <script src="{% static 'js/jszip.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!--JavaScript Crop Profile Image-->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}" ></script>
    <link href="{% static 'js/bootstrap.min.js' %}" rel="stylesheet">
    <script src="{% static 'js/cropper.min.js' %}"></script>

    <!--JavaScript rating library-->
    <script src="{% static 'js/rater.min.js' %}"></script>

    <!-- Isolated Bootsrap v.3 (for the dropdown menu and the crop image) -->
    <!-- https://github.com/toert/Isolated-Bootstrap -->
    <link rel="stylesheet" href="https://toert.github.io/Isolated-Bootstrap/versions/3.3.7/iso_bootstrap3.3.7min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
</head>

<body>
    <div class="noselect header" style="display: table">
        <span style="position: absolute">
            <a class="header-menu-text noselect" href="/" style="text-decoration: none">
                <img class="photo-circle" src="{% static 'img/logo.png' %}"/>
            </a>
            <h2 class="header-menu-text noselect" style="color: #1F4D8A; font-family: 'Raleway'; font-weight: 600"> AskAnything</h2>
        </span>

        <span style="position:absolute; float: right; right: 20px;">
          {%if user.is_authenticated %}
              {% include "main/dropdown_menu.html" %}
          {% else %}
              <a href="{% url 'login-page' %}" class="header-menu-text noselect" ><button class="btn btn-outline-info">Log In</button></a>
              <a href="{% url 'registration-page' %}" class="header-menu-text noselect" ><button class="btn btn-outline-info">Sign Up</button></a>
          {% endif %}
        </span>
    </div>
    {%if user.is_authenticated and request.path == "/" or  user.is_authenticated and request.path == "/feedback-requests/" %}
        {% include "main/categories_menu.html" %}
    {% endif %}
    <div id="main-container">
            {%if messages%}
                {%for message in messages%}
                    <div class="alert alert-{{message.tags}}" role="alert" style="max-width: 600px; text-align: center; display: inline-block;" >
                        {{message}}
                    </div>
                {%endfor%}
            {%endif%}
        {%block content %} {% endblock%}
    </div>
    <div id="footer" class="noselect" style="display: table">
    </div>
</body>
</html>
