{% extends 'main/base.html' %}
{% load static %}
{% load multifor %}
{% block content%}
<style>
.photo-border {
  border-radius: 100%;
{% if has_premium %}
  border: 8px solid #e9ca6e;
{% else %}
  border: 8px solid #eee;
{% endif %}
}
</style>

<div class="noselect button-corner sticky-button">
  <a href="{% url 'new-feedback-request-page' %}"  style="text-decoration:none;">
      <button class="btn btn-outline-info" style="border-width: 2px; font-size: 1.3em">Ask For Feedback</button>
  </a>
</div>

<div class="feedback-request">
    <div class="decorative-text-wrapper noselect">My Profile</div>
    <div class="cardbody"  style="margin-top:50px">
      <img class="photo-circle photo-border" style="display: table; margin: 0 auto; width: 150px; height: 150px;" src="{{ user.userprofile.image.url }}"/>
      <h3 style="text-align: center; margin: 20px; font-size: 26px"><strong>{{ user.username }}</strong>
      </h3>
      {% if has_premium %}
        <div class="premium-badge noselect" style="margin-top: -17px; margin-bottom: 20px">Premium</div>
      {% endif %}
      <div class="border-top pt-1"></div>

        {% if user.userprofile.description %}
            <p style="white-space: pre-wrap; max-height: 400px" class="cut-text">{{ user.userprofile.description }}</p>
        {% else %}
            <p>No profile description.</p>
        {% endif %}

        <div class="noselect button-corner">
          <a href="{% url 'profile-page' %}?user={{user.id}}" style="text-decoration:none; margin-right: 5px">
            <button class="btn btn-outline-info small-screen-button" >View Profile</button>
          </a>
          <a href="{% url 'settings-page' %}?tab=account" style="text-decoration:none;">
              <button class="btn btn-outline-info small-screen-button">Customize Profile</button>
          </a>
        </div>
    </div>

</div>

{% if my_jobs %}
<div class="feedback-request">
  <div class="decorative-text-wrapper noselect">My Jobs</div>
  <div class="cardbody" style="margin-bottom: 0">
        {% for job in my_jobs; time_left in times_left; is_urgent in urgent %}
        <div>
          <a  href="{% url 'feedback-request-page' %}?request_id={{job.id}}">
            <div class="small-card small-card-hover" style="padding: 20px">
                <p style="text-align: center; font-size: 1.2em; font-weight: 600">{{job.title}}</p>
                <div class="mb-3 mt-3" style="border-top: 1px solid #cbcbcb"></div>

                {% if time_left == -1 %}
                  <div class="status-info noselect custom-column" style="font-size: 1em; text-align: center; margin: 0 auto; width: 100%">
                    <img style="vertical-align:middle; width:28px; height: 28px; margin-top: -5px" src="{% static 'img/tick4.png' %}">
                      Feedback Submitted
                  </div>
                {% elif time_left %}
                  <p style="text-align: center"><strong {% if is_urgent%} style="color: #ab5468" {% endif %}>{{time_left}}</strong> left to submit feedback</p>
                {% else %}
                  <p style="text-align: center; color: #ab5468"><strong>Missed deadline for feedback submission</strong></p>
                {% endif %}
              </div>
            </a>
        </div>
        {% endfor %}
  </div>
</div>
{% endif %}


<div class="feedback-request">
  <div class="decorative-text-wrapper noselect">My Requests</div>
  <div class="cardbody" style="margin-bottom: 0">
  {% if my_requests %}
        {% for feedback_request in my_requests; curr_candidates in feedback_candidates %}
        <div>
          <a  href="{% url 'feedback-request-page' %}?request_id={{feedback_request.id}}">
            <div class="small-card small-card-hover" style="padding: 20px">
                <p style="text-align: center; font-size: 1.2em; font-weight: 600">{{feedback_request.title}}</p>
                <div class="mb-3 mt-3" style="border-top: 1px solid #cbcbcb"></div>

                {% if feedback_request.feedbacker != feedback_request.feedbackee %}
                  <div class="two-columns">
                    <span class="custom-column">
                    <img class="profile-name-image" src="{{ feedback_request.feedbacker.userprofile.image.url }}" style="max-width: 100px; margin-bottom: 0; border-color: #ddd;"/>
                    <span class="custom-column name-next-to-image-2">{{feedback_request.feedbacker}}</span>
                    </span>
                    <div class="status-info noselect custom-column" style="font-size: 1em;">
                      <img style="vertical-align:middle; width:28px; height: 28px; margin-top: -5px" src="{% static 'img/tick4.png' %}">
                      Your Feedbacker
                    </div>
                  </div>
                {% elif curr_candidates %}
                <p style="text-align: center">{{ curr_candidates }}</p>
                {% else %}
                <p style="text-align: center">No Feedbacker Candidates Yet</p>
                {% endif %}
              </div>
            </a>
        </div>
        {% endfor %}
  {% else%}
        <p style="text-align: center; font-size: 1.2em; font-weight: 600; ">No Posted Requests</p>
  {% endif %}

  </div>
</div>


<div class="feedback-request">
    <div class="decorative-text-wrapper noselect">My Feedbacker Applications</div>
    <div class="cardbody" style="margin-bottom: 0">
    {% if my_applications %}
        {% for application in my_applications %}
        <a href="{% url 'feedback-request-page' %}?request_id={{application.id}}" style="text-decoration: none;">
        <div class="small-card small-card-hover two-columns">
            <span class="cut-text-header custom-column" style="font-weight: 600">{{application.title}}</span>
            {% if application.feedbacker == application.feedbackee %}
            <div class="status-info noselect custom-column" style="font-size: 1em;">
              <img style="vertical-align:middle; width:28px; height: 28px; margin-top: -5px" src="{% static 'img/tick4.png' %}">
              Application Submitted
            </div>
            {% else %}
            <div class="status-info noselect custom-column" style="font-size: 1em;">
              <img style="vertical-align:middle; width:28px; height: 28px; margin-top: -5px" src="{% static 'img/cross4.png' %}">
              Application Rejected
            </div>
            {% endif %}
        </div>
        </a>
        {% endfor %}
    {% else%}
        <p style="text-align: center; font-size: 1.2em; font-weight: 600; ">No Submitted Applications</p>
    {% endif %}
    </div>
</div>

  <div class="noselect" style="margin-bottom: 30px">
        <a href="{% url 'archive' %}"  style="text-decoration:none;">
            <button class="btn btn-outline-info" style="border-width: 2px; font-size: 1.3em; margin: 0 auto; display: block">Go to Archive</button>
        </a>
  </div>

<script>
  let maxLength = 300;
  let maxLengthHeader = 23;
  {% include "main/cutText.js" %}

  $(document).ready(function () {
    $( ".request_title" ).each(function() {
        if($(this).text().length > maxLength) {
          text = $(this).text();
          firstSpaceIndex = text.substring(maxLength,text.length).indexOf(" ");
          dots = "...";
          if(firstSpaceIndex > -1 && firstSpaceIndex < 15) {
            if(text[maxLength+firstSpaceIndex-1] === ".") {
              dots = "..";
            }
            $(this).text($(this).text().substring(0,maxLength+firstSpaceIndex) + dots);
          }
          else {
            $(this).text($(this).text().substring(0,maxLength) + dots);
          }
        }
    });
  });
</script>

{% endblock %}
