{% extends 'main/base.html' %}
{% load static %}
{% load multifor %}

{% block content%}
<div class="noselect button-corner" style="position: fixed; z-index: 1; ">
  <a href="{% url 'new-feedback-request-page' %}"  style="text-decoration:none;">
      <button class="btn btn-outline-info" style="border-width: 2px; font-size: 1.3em">Ask For Feedback</button>
  </a>
</div>
<div class="feedback-request">
    <div class="decorative-text-wrapper noselect">My Profile</div>
    <div class="cardbody"  style="margin-top:50px">
      <img class="photo-circle" style="display: table; margin: 0 auto; width: 150px; height: 150px; border-radius: 100%; border: 8px solid #eee" src="{{ user.userprofile.image.url }}"/>
      <h3 style="text-align: center; margin: 20px; font-size: 26px"><strong>{{ user.username }}</strong></h3>
      <div class="border-top pt-1"></div>

        {% if user.userprofile.description %}
            <p>{{ user.userprofile.description }}</p>
        {% else %}
            <p>No profile description.</p>
        {% endif %}

        <div class="noselect button-corner">
          <a href="{% url 'profile-page' %}" style="text-decoration:none; margin-right: 5px">
            <button class="btn btn-outline-info" >View Profile</button>
          </a>
          <a href="{% url 'customize-profile-page' %}" style="text-decoration:none;">
              <button class="btn btn-outline-info">Customize Profile</button>
          </a>
        </div>
    </div>

</div>

<div class="feedback-request">
  <div class="decorative-text-wrapper noselect">My Requests</div>
  <div class="cardbody" style="margin-bottom: 0">
  {% if my_requests %}
        {% for feedback_request in my_requests; curr_candidates in feedback_candidates %}
        <div>
          <a  href="{% url 'feedback-request-page' %}?request_id={{feedback_request.id}}">
            <div class="small-card small-card-hover" style="padding: 20px">
                <p style="text-align: center; font-size: 1.2em; font-weight: 600">{{feedback_request.title}}</p>
                <div class="mb-3 mt-3" style="border-top: 1px solid #cbcbcb"></div>

                {% if feedback_request.feedbacker != feedback_request.feedbackee %}
                  <div style="display: inline-block; width: 100%">
                    <img class="photo-circle" src="{{ feedback_request.feedbacker.userprofile.image.url }}" style="margin-left: 10px; margin-top: -5px"/>
                    <span style="margin-left: 10px; font-weight: 600">{{feedback_request.feedbacker}}</span>
                    <div class="status-info status-info-profile noselect" style="font-size: 1em;">
                      <img style="vertical-align:middle; width:28px; height: 28px; margin-top: -5px" src="{% static 'img/tick4.png' %}">
                      Your Feedbacker
                    </div>
                  </div>
                {% elif curr_candidates %}
                <p style="text-align: center">{{ curr_candidates }}</p>
                {% else %}
                <p style="text-align: center">No Feedbacker Candidates Yet</p>
                {% endif %}
              </div>
            </a>
        </div>
        {% endfor %}
  {% else%}
        <p style="text-align: center; font-size: 1.2em; font-weight: 600; ">No Posted Requests</p>
  {% endif %}

  </div>
</div>


<div class="feedback-request">
    <div class="decorative-text-wrapper noselect">My Feedbacker Applications</div>
    <div class="cardbody" style="margin-bottom: 0">
    {% if my_applications %}
        {% for application in my_applications %}
        <a href="{% url 'feedback-request-page' %}?request_id={{application.id}}" style="text-decoration: none;">
        <div class="small-card small-card-hover">
            <strong>{{application.title}}</strong>
            {% if application.feedbacker == user %}
            <div class="status-info status-info-profile noselect" style="font-size: 1em;">Application Accepted</div>
            {% elif application.feedbacker == application.feedbackee %}
            <div class="status-info status-info-profile noselect" style="font-size: 1em;">
              <img style="vertical-align:middle; width:28px; height: 28px; margin-top: -5px" src="{% static 'img/tick4.png' %}">
              Application Submitted
            </div>
            {% else %}
            <img style="vertical-align:middle; width:28px; height: 28px; margin-top: -5px" src="{% static 'img/cross4.png' %}">
            <div class="status-info status-info-profile noselect" style="font-size: 1em;">Application Rejected</div>
            {% endif %}
        </div>
        </a>
        {% endfor %}
    {% else%}
        <p style="text-align: center; font-size: 1.2em; font-weight: 600; ">No Submitted Requests</p>
    {% endif %}
    </div>
</div>

{% endblock %}
