{% load static %}
<style>
    li.dropdown.open {
        background-color: transparent;
    }
</style>
 <!-- Any HTML here will be styled with Bootstrap CSS -->
            <span class="bootstrap">
              <ul class="nav navbar-default" style="background-color:transparent; ">
                <li class="dropdown" data-toggle="tooltip">
                  <a data-toggle="dropdown" class="dropdown-toggle" style="height: 65px; background-color:transparent;">
                      <img class="photo-circle"  style="margin-top: -4px" src="{{ user.userprofile.image.url }}"/>
                      <span class="noselect" style="margin-left: 10px; line-height: 45px; height: 45px; font-size: 1.2em; font-family: 'Lexend'"><strong>{{user}}</strong></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" id="user-dropdown" style="font-size: 1.2em;
                    width:0px;" >
                    <a href="{% url 'dashboard'%}" style="text-decoration: none">
                    <div class="custom-dropdown-item user-item">
                        <span class="user-item-in">
                          <img style="vertical-align:middle; width: 25px; height: 25px; margin-right: 15px" src="{% static 'img/user_icon.png' %}">
                        </span>

                        <span class="user-item-in">
                          <div style="font-size: 1em; font-family: 'Lexend'"><strong>Dashboard</strong></div>
                        </span>
                    </div>
                    </a>
                    <a href="{% url 'settings-page' %}?tab=account" style="text-decoration: none">
                    <div class="custom-dropdown-item user-item">
                        <span class="custom-dropdown-item-in user-item-in">
                          <img style="vertical-align:middle; width: 30px; height: 30px; margin-right: 10px" src="{% static 'img/settings_icon.png' %}">
                        </span>

                        <span class="custom-dropdown-item-in user-item-in">
                          <div style="font-size: 1em; font-family: 'Lexend'"><strong>Settings</strong></div>
                        </span>
                    </div>
                    </a>
                    <a href="{% url 'logout-page'%}" style="text-decoration: none">
                    <div class="custom-dropdown-item user-item">
                        <span class="custom-dropdown-item-in user-item-in">
                          <img style="vertical-align:middle; width: 30px; height: 30px; margin-right: 10px" src="{% static 'img/out_icon.png' %}">
                        </span>

                        <span class="user-item-in">
                          <div style="font-size: 1em; font-family: 'Lexend'"><strong>Log Out</strong></div>
                        </span>
                    </div>
                    </a>
                  </div>
                </li>
              </ul>
            </span>
