            <!-- Any HTML here will be styled with Bootstrap CSS -->
            <div class="bootstrap">
              <ul class="nav navbar-default" style="background-color:transparent;">
                <li class="dropdown" data-toggle="tooltip">
                  <a class="dropdown-toggle" data-toggle="dropdown" style="background-color:transparent;" href="#">
                      <img class="photo-circle" style="margin-top: -1px"  src="{{ user.userprofile.image.url }}"/>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" id="user-dropdown" style="font-size: 1.2em" >
                    <li><a href="{% url 'dashboard'%}"><span class="fa fa-user-circle" style="height: 1.2em; color: #1F4D8A;"></span> <strong>Profile</strong></a></li>
                    <li><a href="#"><span class="fa fa-gear" style="height: 1.2em; color: #1F4D8A;"></span> <strong> Settings</strong></a></li>
                    <li><a href="{% url 'logout-page'%}"><span class="fa fa-sign-out" style="height: 1.2em; color: #1F4D8A;"></span> <strong> Sign Out</strong></a></li>
                  </ul>
                </li>
              </ul>
            </div>
