<!--This template will be used for the Update Request view -->
{% extends 'main/base.html'%}
{% load crispy_forms_tags%}
{% block content %}
    <style>
        .btn-outline-info{
          border-color: #1F4D8A;
          color: #1F4D8A;
        }

        .btn-outline-info:hover{
          background-color: #1F4D8A;
          border-color: #1F4D8A;
          color: #eeeeee;
        }

        .btn-info{
          background-color: #1F4D8A;
          border-color: #1F4D8A;
        }

        .btn-info:hover{
          background-color: #1F4D8A;
          color: #eeeeee;
        }

        .btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active,
        .show>.btn-outline-info.dropdown-toggle{
          background-color: #1F4D8A;
          border-color: #1F4D8A;
        }
    </style>
    <!-- Note that a submit button is not included in the forms-->
     <div class="large-area" style="max-width: 700px">
        <div class="decorative-text-wrapper noselect">Update Feedback Request</div>
        <div class="cardbody" style="margin-bottom:0px;">
            <form method="POST">
                {% csrf_token %}                    <!-- Added Security token that Django requires-->
                {{ form|crispy }}  <!-- Crispy Forms do the design for us -->
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </form>
        </div>
     </div>
{% endblock content%}