{% extends 'main/base.html' %}
{% block content%}
{% load static %}
{% load multifor %}

{% if user_is_feedbackee and feedback_candidates and feedback_request.feedbacker == feedback_request.feedbackee %}
<div class="large-area">
  <div class="decorative-text-wrapper noselect">Candidates</div>
  <div class="cardbody" style="margin-top:50px; margin-bottom: 0">
    {% for candidate in feedback_candidates; curr_candidate_has_premium in candidate_premiums %}       <!--For username in User instance-->
    <div style="margin-bottom: 20px; display: block; background: #eee; border-radius: 10px; box-shadow: 0px 0px 0px #ccc;" class="feedback-request">
      <span class="feedback-request-link" style="display: inline-block; padding: 5px; padding-left: 20px; padding-right: 20px">
        <a href="{% url 'profile-page' %}?user={{candidate}}&feedback={{feedback_request.id}}">
          <img class="photo-circle" src="{{ candidate.userprofile.image.url }}" style="border: 3px solid {% if curr_candidate_has_premium %} #e9ca6e {% else %} #ccc {% endif %};"/>
          <span style="margin-left: 10px; font-weight: 600">{{candidate}}</span>
        </a>
      </span>
      <span style="float: right">
          <button class="btn btn-outline-info" id="choose-feedbacker{{forloop.counter}}">Choose as Feedbacker</button>
      </span>
      <div class="border-top pt-2 mt-3"></div>
      <p style="font-size: 100%; line-height: 1.8em">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada urna lectus, eu pretium odio vulputate ac. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Cras sollicitudin nunc a justo aliquet venenatis. Sed vitae erat lacus. Nunc faucibus augue ex. Morbi tempor rutrum tortor suscipit pharetra. Mauris euismod interdum ipsum, at faucibus ex viverra at. Maecenas iaculis iaculis mi, sed ullamcorper diam efficitur ac.
      </p>
      <div>

      </div>
    </div>

    <div id=main-container">
    <div id="overlay{{forloop.counter}}" class="full-screen overlay">

      <div class="full-screen">

      <div class="large-area" style="max-width: 750px; box-shadow: 0 0 0;">
        <div class="decorative-text-wrapper noselect">Are you sure?</div>
        <div class="cardbody"  style="margin-top:50px">
          <img class="large-photo-circle" src="{{ candidate.userprofile.image.url }}" style="border: 8px solid {% if curr_candidate_has_premium %} #e9ca6e {% else %} #ccc {% endif %};"/>
          <p style="font-weight: 600; font-size: 1.2em; text-align: center">
            Are you sure you want to choose {{candidate}} as your feedbacker?<br>This action cannot be reverted.
          </p>
          <div class="border-top pt-3 mt-3"></div>

            <form method="POST" action="/choose-feedbacker/">
              {% csrf_token %}
              <div id="payment-form" style="text-align:center;">
                <span style="font-weight: 600; font-size: 1.2em; text-align: center">Payment</span>
                <!--input elements for user card data-->

                <input type="hidden" name="payment_method_nonce">
                <input name="feedback_request_id" value="{{ feedback_request.id }}" hidden>
                <input name="feedbacker_username" value="{{ candidate }}" hidden>
                <div class="noselect button-corner">
                  <button type ='button' class="btn btn-outline-info" id="no{{forloop.counter}}" style="margin-right: 10px">Cancel</button>
                  <button type="submit" class="btn btn-outline-info" id="yes{{forloop.counter}}">Pay ${{feedback_request.reward}}</button>
                </div>
              </div>
            </form>

        </div>
      </div>
      </div>
    </div>
  </div>

    <!-- load the required client component -->
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>

    <script>
        $(document).ready(function() {
          braintree.setup("{{ client_token }}", "dropin", {
            container: "payment-form",
            paypal: {
              singleUse: true,
              amount: "{{ feedback_request.reward }}",
              currency: 'USD'
            }
          });

        $('#yes{{forloop.counter}}').click(function(e) {
           swal({
            title: "You have successfully hired {{candidate}}!",
            text: "The money will be put on hold. We take a 10% cut.",
            icon: "success",
            buttons: false
           });
        });
        });
    </script>

    <script>
      $(document).ready(function () {
        $('#choose-feedbacker{{forloop.counter}}').click(function(e) {
          $('#overlay{{forloop.counter}}').css("display","block");
          $('body').css("overflow","hidden");
        });

        $('#no{{forloop.counter}}').click(function(e) {
          $('#overlay{{forloop.counter}}').css("display","none");
          $('body').css("overflow","visible");
        });

      });

    </script>
    {% endfor %}
  </div>
</div>

{% endif %}


{% if user_is_feedbacker or user_is_feedbackee%}
<div class="large-area">
  <div class="decorative-text-wrapper noselect">Files</div>
  <div class="cardbody"  style="margin-top:50px; margin-bottom: 0">
    <div class="container">
      <div class="row">
        <div class="col-sm landing-card" style="text-align: center; margin: 15px">
          <img src="{{ feedback_request.feedbackee.userprofile.image.url }}" class="large-photo-circle" style="border-color: {% if feedbackee_has_premium %} #e9ca6e {% else %} #ccc {% endif %};"/>
          <h3 style="margin-top: 10px;">{{feedback_request.feedbackee}}</h3>
          <div class="border-top pt-4 "></div>
          <a href="{{ feedbackee_files_link }}" download="Feedbackee Files" style="text-decoration:none;">
              <button class="btn btn-outline-info" >Download Feedbackee's Files</button>
          </a>
        </div>
          {% if feedback_request.feedbacker == feedback_request.feedbackee%}
            <div class="col-sm landing-card" style="text-align: center; margin: 15px;display: flex; justify-content: center; align-content: center; flex-direction: column;">
              <p style="text-align: center; font-size: 1.2em; font-weight: 600; display: table-cell; vertical-align: middle;">No Feedbacker Yet</p>
            </div>
          {% else %}
            <div class="col-sm landing-card" style="text-align: center; margin: 15px">
            <a href="{% url 'profile-page' %}?user={{feedback_request.feedbacker.id}}&feedback={{feedback_request.id}}">
              <img src="{{ feedback_request.feedbacker.userprofile.image.url }}" class="large-photo-circle" style="border-color: {% if feedbacker_has_premium %} #e9ca6e {% else %} #ccc {% endif %};"/>
              <h3 style="margin-top: 10px;">{{feedback_request.feedbacker}}</h3>
            </a>
            <div class="border-top pt-4"></div>
              {% if feedbacker_files_link != None %}
                  <a href="{{ feedbacker_files_link }}" download="Feedbacker Files"  style="text-decoration:none;">
                      <button class="btn btn-outline-info" >Download Feedbacker's Files</button>
                  </a>
              {% endif %}
              {% if user_is_feedbacker and feedbacker_files_link == None %}
                  <a href="{%url 'submit-feedback-page'%}?request_id={{ request_id }}"  style="text-decoration:none;">
                      <button class="btn btn-outline-info" >Submit Feedback</button>
                  </a>
              {% elif user_is_feedbacker %}
                <a href="{%url 'submit-feedback-page'%}?request_id={{ request_id }}"  style="text-decoration:none;">
                    <button class="btn btn-outline-info" style="margin-top: 15px">Resubmit Feedback</button>
                </a>
              {% endif %}
              {% if user_is_feedbackee and feedbacker_files_link == None %}
                <p style="text-align: center; font-size: 1.2em; font-weight: 600; margin-top: -4px">No Files Yet</p>
              {% endif %}
              {% if user_is_feedbackee and feedbacker_files_link != None and not feedback_request.feedbacker_rated%}
                  <a href="{%url 'rate-feedbacker-page'%}?request_id={{ request_id }}"  style="text-decoration:none;">
                      <button class="btn btn-outline-info" style="margin-top: 10px">Rate Feedbacker</button>
                  </a>
              {% endif %}
              {%if feedbacker_files_link%}
                  <button class="btn btn-outline-info" style="margin-top: 10px" id="release-money">Release Money</button>
              {% endif%}
              <script>
                $(document).ready(function () {
                  $('#release-money').click(function() {
                   swal({
                    title: "Are you sure?",
                    text: "This action cannot be reverted.",
                    icon: "warning",
                    buttons: ['Cancel', 'Release'],
                    dangerMode: true
                  })
                  .then((willDelete) => {
                    if (willDelete) {
                      swal("Money released!", {
                        icon: "success",
                      });
                    }
                  });
                  });
                });

              </script>


              </div>
            {% endif %}

        </div>
    </div>
  </div>
</div>
{% endif %}




<div class="large-area">
  <div class="decorative-text-wrapper noselect">Description</div>
    <div class="cardbody"  style="margin-top: 60px; margin-bottom: 0">
      <div style="margin-bottom: 18px; ">
        <img style="vertical-align:middle; width: 45px; height: 45px; margin-top: 0px; border-radius: 100px; border: 3px {% if premium_request %} #e9ca6e {% else %} #ddd {% endif %} solid; margin-right: 5px" src="{{ feedback_request.feedbackee.userprofile.image.url }}">
        <span class="bold-p">{{ feedback_request.feedbackee }}</span>
        <span class="bold-p" style="float: right; font-size: 1em;vertical-align: middle; line-height: 45px">Posted {{ time_delta }} ago </span>
      </div>
      <div class="border-top pt-3 "></div>
      {% if new_request or premium_request %}
      <div style="margin-bottom: 8px; text-align: center">
        {% if premium_request %}
        <span class="premium-badge noselect" style="font-size: 0.7em; margin-top: 0; margin-right: 5px">Premium</span>
        {% endif %}
        {% if new_request %}
        <span class="premium-badge noselect" style="font-size: 0.7em; margin-top: 0;  border: 2px solid #1F4D8A; color: #1F4D8A">New</span>
        {% endif %}
      </div>
      {% endif %}
    <div style="margin-top: 10px; margin-bottom: 10px">
        <h1 style="text-align: center; font-size: 2em; font-weight: 600; margin-bottom: 20px">{{ feedback_request.title }}</h1>
        <p>{{ feedback_request.maintext }}</p>
   </div>
   <div class="border-top pt-3 "></div>

   <div style=" padding-top: 0; text-align: center">
     <span class="status-info noselect" style="font-size: 1.4em">
       <img src = "{% static 'img/pound_icon3.png'%}" style="height: 28px;  vertical-align: middle;" />
         £{{ feedback_request.reward }}
     </span>
     <span class="status-info noselect" style="font-size: 1.4em">
       <img src = "{% static 'img/time_icon3.png'%}" style="vertical-align: middle; height: 28px" />
       {{ feedback_request.time_limit }} days
     </span>
   </div>
</div>
</div>
{% if not user_is_feedbacker and not user_is_feedbackee %}
<div class="large-area">
  <div class="decorative-text-wrapper noselect">Apply</div>
  <div class="cardbody"  style="margin-top:50px; margin-bottom: 0">
    {% if user_was_rejected %}
      <img src = "{% static 'img/cross4.png'%}" class="photo-circle large-photo-circle"/>
      <p style="text-align: center; font-size: 1.2em; font-weight: 600; ">Application Rejected</p>
    {% elif not user_is_candidate %}
    <div>
      <ul>
      <li>By applying, you are agreeing to provide feedback within the specified timeframe. <br></li>
      <li>If your application is accepted, you can no longer withdraw it.</li>
      </ul>
  <!--
    <form style="font-family: inherit">
      <input type="checkbox" class="checkbox" style="-webkit-appearance: checkbox;"> I understand<br>
      </form> -->
    </div>
    <br>
    <br>

    <div class="button-corner">
        <button class="btn btn-outline-info" id="apply">Apply as Feedbacker</button>
    </div>

    {% if new_request and not has_premium %}
        <div id=main-container">
        <div id="overlay_apply" class="full-screen overlay">
          <div class="full-screen">
          <div class="large-area" style="max-width: 750px; box-shadow: 0 0 0;">
            <div class="decorative-text-wrapper noselect">Get Premium</div>
            <div class="cardbody"  style="margin-top:50px">
              <p style="font-weight: 600; font-size: 1.2em; text-align: center">
                This feedback request is less than 24 hours old.<br>
                Only premium users can apply to new requests.
              </p>
              <div class="border-top pt-2 mt-3"></div>

              <div class="noselect button-corner">
                <button class="btn btn-outline-info" id="no_apply" style="margin-right: 10px">Wait</button>
                <a href="{%url 'get-premium-page'%}" style="text-decoration:none;">
                  <button class="btn btn-outline-info">Get Premium</button>
                </a>
            </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    {% elif three_or_more_applications and not has_premium %}
    <!-- Too many applications overlay -->
      <div id=main-container">
      <div id="overlay_apply" class="full-screen overlay">
        <div class="full-screen">
        <div class="large-area" style="max-width: 750px; box-shadow: 0 0 0;">
          <div class="decorative-text-wrapper noselect">Get Premium</div>
          <div class="cardbody"  style="margin-top:50px">
            <p style="font-weight: 600; font-size: 1.2em; text-align: center">
              You have three active applications.<br>
              Only premium users can apply to more than three requests at a time.
            </p>
            <div class="border-top pt-2 mt-3"></div>

            <div class="noselect button-corner">
              <button class="btn btn-outline-info" id="no_apply" style="margin-right: 10px">Go Back</button>
              <a href="{%url 'get-premium-page'%}" style="text-decoration:none;">
                <button class="btn btn-outline-info">Get Premium</button>
              </a>
          </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    {% else %}
    <!-- Apply overlay -->
    <div id=main-container">
    <div id="overlay_apply" class="full-screen overlay">
      <div class="full-screen">
      <div class="large-area" style="max-width: 750px; box-shadow: 0 0 0;">
        <div class="decorative-text-wrapper noselect">Are you sure?</div>
        <div class="cardbody"  style="margin-top:50px">
          <p style="font-weight: 600; font-size: 1.2em; text-align: center">
            Are you sure you want to apply to give feedback to {{feedback_request.feedbackee}}?<br>You can only withraw your application before it is accepted.
          </p>
          <div class="border-top pt-2 mt-3"></div>

          <div class="noselect button-corner">
            <button class="btn btn-outline-info" id="no_apply" style="margin-right: 10px">No</button>
            <a href="{%url 'apply-as-feedbacker-page'%}?request_id={{ request_id }}" style="text-decoration:none;">
              <button class="btn btn-outline-info">Yes</button>
            </a>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  {% endif %}
    <script>
      $(document).ready(function () {
        $('#apply').click(function(e) {
          $('#overlay_apply').css("display","block");
          $('body').css("overflow","hidden");

        });
        $('#no_apply').click(function(e) {
          $('#overlay_apply').css("display","none");
          $('body').css("overflow","visible");
        });
      });
    </script>

    {% else %}
    <img src = "{% static 'img/tick4.png'%}" class="photo-circle large-photo-circle"/>
    <p style="text-align: center; font-size: 1.2em; font-weight: 600; ">Application Submitted</p>
    <br>
    <br>
    <div class="button-corner">
        <button class="btn btn-outline-info" id="withdraw" >Withdraw Application</button>
    </div>

    <!-- Withdraw application overlay -->
    <div id=main-container">
    <div id="overlay_withdraw" class="full-screen overlay">
      <div class="full-screen">
      <div class="large-area" style="max-width: 750px; box-shadow: 0 0 0;">
        <div class="decorative-text-wrapper noselect">Are you sure?</div>
        <div class="cardbody"  style="margin-top:50px">
          <p style="font-weight: 600; font-size: 1.2em; text-align: center">
            Are you sure you want to withdraw your application?
          </p>
          <div class="border-top pt-2 mt-3"></div>

          <div class="noselect button-corner">
            <button class="btn btn-outline-info" id="no_withdraw" style="margin-right: 10px">No</button>
            <a href="{%url 'withdraw-application-page'%}?request_id={{ request_id }}" style="text-decoration:none;">
              <button class="btn btn-outline-info">Yes</button>
            </a>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
    <script>
      $(document).ready(function () {
        $('#withdraw').click(function(e) {
          $('#overlay_withdraw').css("display","block");
          $('body').css("overflow","hidden");

        });
        $('#no_withdraw').click(function(e) {
          $('#overlay_withdraw').css("display","none");
          $('body').css("overflow","visible");
        });
      });
    </script>
    {% endif %}
  </div>
</div>
{% endif %}
{% if user_is_feedbackee and feedback_request.feedbacker == feedback_request.feedbackee %}
<div class="large-area">
  <div class="decorative-text-wrapper noselect">Options</div>
    <div class="cardbody"  style="margin-top:50px; margin-bottom: 0">
      <a href="{% url 'request-delete' feedback_request.id %}" style="text-decoration:none;">
          <button class="btn btn-outline-danger" style="margin: 0 auto; display: block">Remove Feedback Request</button>
      </a>
    </div>
</div>
{% endif %}
{% endblock%}
