{% extends 'main/base.html' %}
{% load static %}
{% block content%}

<div style="background-color: #fff">
    <div class="full-screen full-screen-image"
         style="margin-top: -100px; background-image: url({% static 'img/landing-page.jpg' %});">
        <p style="color: black; font-size: 2em;">
            Get high-quality feedback on your work from professionals.
        </p>
    </div>
</div>
<div class="full-screen" style="background-color: #fff">
    <div class="container">
        <div class="row">
            <div class="col-sm landing-card" style="text-align: center; margin: 15px">
                <img src="{% static 'img/test-icon.png' %}" style="height: 200px; text-align: center; margin: 0 auto"/>
                <h3 style="margin-top: 10px;">SECURITY</h3>
                <div class="border-top pt-1"></div>
                <p style="text-align: justify">
                    We understand that users care about their data and do not want third parties to steal their private
                    information or look through their feedback data. Therefore, we are doing everything we can to keep
                    their data secure, from using secure protocols for data transmission to using end-to-end encryption
                    for all files uploaded to our servers.
                </p>
            </div>
            <div class="col-sm landing-card" style="text-align: center; margin: 15px">
                <img src="{% static 'img/test-icon.png' %}" style="height: 200px"/>
                <h3 style="margin-top: 10px;">SMART RECOMMENDATIONS</h3>
                <div class="border-top pt-1"></div>
                <p style="text-align: justify">
                    Sometimes it is time consuming for feedbackers to look through feedback requests and find the ones
                    they find interesting. That is why we have implemented smart natural language processing algorithms
                    to deliver tailored recommendations straight into their email inboxes.
                </p>
            </div>
            <div class="col-sm landing-card" style="text-align: center; margin: 15px">
                <img src="{% static 'img/test-icon.png' %}" style="height: 200px"/>
                <h3 style="margin-top: 10px;">SAFEGUARDING QUALITY</h3>
                <div class="border-top pt-1"></div>
                <p style="text-align: justify">
                    Feedbackees need assurance that they are not throwing their Money out of the window when paying for
                    feedback. We have them covered. Our algorithms are working hard to detect feedbackers who are trying
                    to cheat the system by writing their own reviews and not delivering good quality feedback.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="full-screen full-screen-image"
     style="background-image: url({% static 'img/landing-page.jpg' %});   background-repeat: no-repeat;  background-size: cover;">
    <a href="{% url 'registration-page' %}">
        <button class="btn btn-outline-info" style="font-size: 2em">Sign Up</button>
    </a>

</div>


{% endblock%}
