{% extends 'main/base.html' %}
{% load static %}

{% block content%}
<div class="large-area" style="max-width: 750px">
    <div class="decorative-text-wrapper noselect">New Feedback Request</div>
    <div class="cardbody">
        <form action="/new-feedback-request/" method="POST" id="newFeedbackForm" enctype="multipart/form-data">
            {% csrf_token %}
            TITLE:<br><textarea rows='1' id="title" name="title" maxlength="50" style="max-width: 400px;"></textarea> <br>
            <div style="color: red; display: none" id="title-prompt">You must specify a title.</div>
            <br>


            DESCRIPTION:<br><textarea rows="15" id="description" name="maintext"></textarea> <br>
            <div style="color: red; display: none" id="description-prompt">You must specify a description.</div>
            <br>


            REWARD (£):<br><input id="reward" name="reward" class="onelineform" style="max-width: 100px; margin: 0 auto"
                                  type="number" min="1">
            <div style="color: red; display: none" id="reward-prompt">You must specify a reward.</div>


            <br><br>TIME LIMIT (days):<br><input id="limit" name="timelimit" class="onelineform"
                                                 style="max-width: 100px; margin: 0 auto" type="number" min="1">
            <div style="color: red; display: none" id="limit-prompt">You must specify a time limit.</div>


            <br><br>FEEDBACK FILES:<br>
            <label for="file-upload" class="button noselect" style="margin-left: 0px">
                Upload Files
            </label>
            <input id="file-upload" type="file" name="feedbackfiles" style="display: none" multiple>
        </form>
        <div style="color: red; display: none" id="file-upload-prompt">You must upload at least one file to submit
            feedback request.
        </div>

        <form onsubmit="return false" style="margin-top: 15px;">
            TAGS:<br>
            <input id="tag-input" class="onelineform" maxlength="20" style="margin: 0 auto">
        </form>

        <div>
            <div id="tags" style="margin-top: 20px; height: 1px"></div>
        </div>
        <span class="button noselect button-corner" id="submit_button">Submit</span>

        <script>
    let tags = [];
    let numOfTags = 0;
    $(document).ready(function () {

    $('#submit_button').click(function() {
        // Disable button to prevent multiple clicks
        $("#submit_button").attr("disabled", true);
        // Create an array of all selected files
        let selectedFiles = Array.from(document.getElementById("file-upload").files);

        let zip = new JSZip();

         // Add all uploaded files to ZIP
         function addFileToZip(n) {
             if(n >= selectedFiles.length) {
                zip.generateAsync({type:"blob"}).then(function(content) {
                    let files = new File([content], "feedbackFiles.zip");
                    let formData = new FormData(document.querySelector('#newFeedbackForm'));
                    formData.append('fileZip', files);
                    formData.delete('feedbackfiles');

                    $("#title-prompt").css("display","none");
                    $("#description-prompt").css("display","none");
                    $("#reward-prompt").css("display","none");
                    $("#limit-prompt").css("display","none");

                    let formValid = true;

                    // Check that form data valid before sending request
                    if($("#title").val().trim()=="") {
                        $("#title-prompt").css("display","block");
                        formValid = false;
                    }
                    if($("#description").val().trim()=="") {
                        $("#description-prompt").css("display","block");
                        formValid = false;
                    }
                    if($("#reward").val().trim()=="") {
                        $("#reward-prompt").css("display","block");
                        formValid = false;
                    }
                    if($("#limit").val().trim()=="") {
                        $("#limit-prompt").css("display","block");
                        formValid = false;
                    }
                    if(selectedFiles.length < 1) {
                        $("#file-upload-prompt").css("display","block");
                        formValid = false;
                    }

                    if(!formValid) {
                      return;
                    }

                    let xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function() {
                        if(xhr.readyState == 4 && xhr.status == 200) {
                          window.location.href = "/dashboard";
                        }
                    }
                    xhr.open('POST', "/new-feedback-request/?tags="+tags, true);
                    xhr.send(formData);
              });
            }
            else {
              let fileReader = new FileReader();
              fileReader.onload = function() {
                  zip.file(selectedFiles[n].name, this.result);
                  addFileToZip(n + 1);
              };
              fileReader.readAsArrayBuffer(selectedFiles[n]);
            }
        }
        addFileToZip(0);
    });

    // When enter is pressed, new tag is added
    $('#tag-input').keypress(function (e) {
        if (e.which == 13 ) {
          let tagValue = $('#tag-input').val().trim();
          if(tagValue != "" && numOfTags < 5 && !tags.includes(tagValue)) {
            numOfTags++;
            tags.push(tagValue);
            $('#tag-input').val('');
            $('#tags').append("<span class='tag' id='tagtag'>"+tagValue+"</span>");
          }
        }

    });

    $("body").on("click", ".tag", function(){
      tags.pop($(this).val);
      $(this).remove();
      numOfTags--;
     });

    });

        </script>
    </div>
</div>
{% endblock %}
