{% load static %}

 <!-- Any HTML here will be styled with Bootstrap CSS -->
 <span class="bootstrap">
   <ul class="nav navbar-default" style="background-color:transparent; ">
     <li class="dropdown" id="notifications-button">
       <a data-toggle="dropdown" style="height: 65px; background-color:transparent;">
           <img class="photo-circle"  src="{% static 'main/img/bell_icon.png' %}"/>
       </a>
       <div class="dropdown-menu dropdown-menu-right" id="notifications-dropdown" style="font-size: 1.2em" >
         {% for notification in notifications_all %}
         <a href="{{notification.link}}&notification_id={{notification.id}}" style="text-decoration: none">
         <div class="custom-dropdown-item">
             <span class="custom-dropdown-item-in">
               {% if notification.other_user %}
               <img style="vertical-align:middle; width: 45px; height: 45px; margin-top: -10px; border-radius: 100px; margin-right: 15px" src="{{ notification.other_user.userprofile.image.url }}">
               {% endif %}
             </span>
             <span class="custom-dropdown-item-in">
               {% if notification.type == "Candidate" %}
                 <div class="notification-text">New candidate on <strong>{{notification.title}}</strong></div>
               {% elif notification.type == "FeedbackerChosen" %}
                 <div class="notification-text">You were chosen as feedbacker for <strong>{{notification.title}}</strong></div>
               {% elif notification.type == "FeedbackSubmitted" %}
                 <div class="notification-text">You have received feedback on <strong>{{notification.title}}</strong></div>
               {% elif notification.type == "FeedbackerRated" %}
                 <div class="notification-text">You have received a new rating for feedback on <strong>{{notification.title}}</strong></div>
               {% elif notification.type == "NewMessage" %}
                  <div class="notification-text">New message(s) by <strong>{{notification.other_user}}</strong> on <strong>{{notification.title}}</strong></div>
               {% elif notification.type == "Recommendation" %}
                  <div class="notification-text">We think you may be interested in this feedback request: <strong>{{notification.title}}</strong></div>
              {% elif notification.type == "MoneyRelease" %}
                  <div class="notification-text">Reward released for feedback on <strong>{{notification.title}}</strong></div>
               {% endif %}
               <div class="notification-text notification-time">
                 {{notification.time}} ago
                 {% if not notification.seen %}
                 <span class="notification-dot" style="margin-left: 6px; margin-top: 4px"></span>
                 {% endif %}
               </div>

             </span>
         </div>
         </a>
         {% endfor %}
       </div>
     </li>
     {% if not all_seen %}
     <div class="notification-dot"></div>
     {% endif %}
   </ul>
 </span>
