{% extends 'main/base.html' %}
{% load static %}

{% block content%}
<div class="large-area">
  <div class="decorative-text-wrapper noselect">Submit Feedback to Feedbackee</div>
  <div class="cardbody">
    <form action="/new-feedback-request/" method="POST" id="submitFeedbackForm" enctype="multipart/form-data">
      {% csrf_token %}
      Feedback Files:<br>
      <label for="file-upload" class="btn btn-outline-info" style="margin-left: 0px; cursor: pointer">
            Upload Files
      </label>
      <input id="file-upload"  type="file" name="feedbackfiles" style="display: none" multiple>
      <span style="margin-left: 10px; font-weight: 600" id="fileCount"></span>
      <span style="margin-left: 10px; font-weight: 600" id="fileSize"></span>
      <div style="margin-top: 10px" id="allFiles"></div>
      <br>
      Comments:<br>
      <textarea rows="15" name="comments" id="comments" class="form-control" maxlength=2000></textarea>
    </form>
    <br>
    <button class="button-corner btn btn-outline-info custom-column" id="submit_button">Submit</button>

    <!-- Files or comments overlay -->
    <div id=main-container">
      <div id="overlay" class="full-screen overlay">
        <div class="full-screen">
        <div class="large-area" style="max-width: 750px; box-shadow: 0 0 0;">
          <div class="decorative-text-wrapper noselect">Error</div>
          <div class="cardbody"  style="margin-top:50px">
            <p id="max_tags_message" style="font-weight: 600; font-size: 1.2em; text-align: center">
              You must provide at least one file or comments.
            </p>
            <div class="border-top pt-2 mt-3"></div>
            <div class="noselect button-corner">
              <button class="btn btn-outline-info" id="okay">Okay</button>
          </div>
          </div>
        </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $('#okay').click(function(e) {
          $('#overlay').css("display","none");
          $('body').css("overflow","visible");
        });
        $(document).keypress(function (e) {
            if (e.which == 13 && $("#overlay").css('display') == 'block') {
              e.preventDefault();
              $('#okay').click();
            }
        });
        {% include "main/fileSizeDisplay.js" %}
        {% include "main/uploadedFilesInfo.js" %}

        $('#submit_button').click(function() {
            // Create an array of all selected files
            let nonNullSelectedFiles = selectedFiles.filter(file => file != null);

            // Feedbacker must provide comments or files
            if(nonNullSelectedFiles.length < 1 && $("#comments").val() == "") {
              $('#overlay').css("display","block");
              $('body').css("overflow","hidden");
              return;
            }

           // Disable button to prevent multiple clicks
           $("#submit_button").attr("disabled", true);

           swal({
              title: "You have successfully submitted your feedback!",
              text: "The feedbackee will review the feedback and then release your reward.",
              icon: "success",
              buttons: false
            });

            let fileFormName = "submitFeedbackForm";
            let postAction = "/submit-feedback/?request_id={{request_id}}";
            {% include "main/zipFiles.js" %}
        });
      });
    </script>
  </div>
</div>
{% endblock %}
