{% extends 'base.html' %}
{% block content%}
{% load multifor %}
{% load static %}

{% for feedback_request in requests; curr_tags in tags %}
<div class="feedback-request{% if feedback_request.premium%} premium-request {% endif %}">
    <div class="tag-container">
        {% for tag in curr_tags %}
        <span class='tag' id="{{ tag }}">{{ tag }}</span>
        {% endfor %}
    </div>
    <h3> {{ feedback_request.title }}</h3>
    <p>{{ feedback_request.maintext }}</p>
    <div style="margin-top: 5px">
      <div class="button noselect button-corner">
          <a href="feedback-request?request_id={{feedback_request.id}}">More information</a>
      </div>
      <span class="status-info noselect">
        <img src = "{% static 'img/pound_icon.png'%}" style="height: 25px;  vertical-align: middle" />
          {{ feedback_request.reward }}
      </span>
      <span class="status-info noselect" style="background: #FFCF7D ">
        <img src = "{% static 'img/time_icon.png'%}" style="vertical-align: middle; height: 25px" />
        {{ feedback_request.time_limit }} days
      </span>
    </div>
</div>
{% endfor %}

<!-- Hidden form for tag filtering -->
<form action="/" method="POST" id="tagFilterForm"> {% csrf_token %}</form>
<script>
  $('.tag').click(function(e) {
    let tagValue = e.target.id;
    $('#tagFilterForm').attr("action","/?tag-filter="+tagValue);
    $('#tagFilterForm').submit();
  });
</script>
{% endblock%}
