{% extends 'base.html' %}
{% block content%}
  {% for feedback_request in requests %}
    <div class="feedback-request{% if feedback_request.premium%} premium-request {% endif %}">
    <h3> {{ feedback_request.title }}</h3>
    <p>{{ feedback_request.maintext }}</p>
    <div class="button noselect button-corner"><a href="feedback-request?request_id={{feedback_request.id}}">Show interest</a></div>
    <div class="button-corner" style="margin-right: 180px; font-size: 1.3em;padding: 10px;">
      £{{ feedback_request.reward }}
    </div>
    </div>
  {% endfor %}
{% endblock%}
