{% extends 'base.html' %}
{% load static %}
{% load multifor %}

{% block content%}
<div class="button noselect button-corner" style="position: fixed; z-index: 1"><a href="/new-feedback-request">Ask For Feedback</a></div>
<div class="feedback-request">
    <div class="decorative-text-wrapper noselect">My Profile</div>
    <div class="cardbody">
        {% if feedbacker_info != None %}
        <p>{{ feedbacker_info.profile_description }}</p>
        {% endif %}
        <div class="button noselect button-corner"><a href="/customize-profile">Customize Profile</a></div>
    </div>
</div>

{% if my_requests %}
<div class="feedback-request">
  <div class="decorative-text-wrapper noselect">My Requests</div>
  <div class="cardbody" style="margin-bottom: 0">
  {% for feedback_request in my_requests; curr_candidates in feedback_candidates %}
        <div>
            <div class="small-card" style="padding: 20px">
                <a href="/feedback-request?request_id={{feedback_request.id}}"><p style="text-align: center; font-size: 1.2em; font-weight: 600">{{feedback_request.title}}</p></a>
                <hr style="width: 50%">
                {% if curr_candidates%}
                <div>
                <p style="text-align: center">Feedbacker Candidates</p>
                {% for candidate in curr_candidates%}
                <div>
                  <img class="photo-circle" src="{% static 'img/test-profile-pic.jpg' %}"/>
                  <span style="margin-left: 10px">{{candidate}}</span>
                  <a href="/choose-feedbacker/?user={{candidate}}&feedback={{feedback_request.id}}">
                    <div class="status-info-button status-info-profile">
                        Choose as Feedbacker
                    </div>
                  </a>
                  <a href="/feedbacker-profile/?user={{candidate}}&feedback={{feedback_request.id}}">
                    <div class="status-info-button status-info-profile">
                        View Profile
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>
                {% elif feedback_request.feedbacker != feedback_request.feedbackee %}
                <div>
                  <img class="photo-circle" src="{% static 'img/test-profile-pic.jpg' %}"/>
                  <span style="margin-left: 10px">{{feedback_request.feedbacker}}</span>
                  <div class="status-info status-info-profile noselect" style="background-color: #AC6DFF; font-size: 1em;">Your Feedbacker</div>
                </div>
                {% else %}
                <p style="text-align: center">No Feedbacker Candidates Yet</p>
                {% endif %}
              </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endif %}


{% if my_applications %}
<div class="feedback-request">
    <div class="decorative-text-wrapper noselect">My Feedbacker Applications</div>
    <div class="cardbody" style="margin-bottom: 0">
        {% for application in my_applications %}
        <a href="/feedback-request?request_id={{application.id}}">
        <div class="small-card small-card-hover">
            {{application.title}}
            {% if application.feedbacker == user %}
            <div class="status-info status-info-profile noselect" style="background-color: #48EB9E; font-size: 1em;">Application Accepted</div>
            {% elif application.feedbacker == application.feedbackee %}
            <div class="status-info status-info-profile noselect" style="background-color: #FFB580; font-size: 1em;">Application Submitted</div>
            {% else %}
            <div class="status-info status-info-profile noselect" style="background-color: #FF6571; font-size: 1em;">Application rejected</div>
            {% endif %}
        </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}
